{% extends 'base.html.twig' %}

{% block title %}
    See all author
{% endblock %}

{% block body %}
    <li>{{ author.id }}</li>
    <li>{{ author.firstname }} {{ author.lastname }}</li>
{% endblock %}